#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DESTDIR=$(CURDIR)/debian/cloudsim

%:
	dh $@

override_dh_install:
	# Do not remove. It will use the install file 
	dh_install
	# Debian forbid to install files under /var/www but this directory
	# is permitted to be created
	mkdir -p $(DESTDIR)/var/www

override_dh_installinit:
	# Install the upstart file
	cp $(CURDIR)/cloudsimd/cloudsimd.conf $(CURDIR)/debian/package.upstart
	dh_installinit

override_dh_auto_test:
	# Not prepare to run tests on cloudsim
	echo -- Skipping tests
	true
